@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Glass+Antiqua&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
html {
    font-size: 62.5%;
    padding: 0;
    margin: 0;

    width: 100vw;
    height: 100vh;

}

body
{
    padding: 0;
    margin: 0;
}
header {
    padding: 0;
    margin: 0;



    font-size: 1.2rem;

    background-image: url(imagens/imagens-/navbar-celular.png);
    background-repeat: no-repeat;
    background-size: 100vw;

}
.navbar
{
    width: 100vw;
    height: 200px;

 

    display: flex;
    align-items: end;
}
.navbar-content
{
    width: 100%;
    height: 150px;
    

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.navbar-content-logo
{
    width: 100px;
    height: 100px;
    
}
.navbar-content-logo img
{
    width: 100%;
    height: 100%;
}
.navbar-box
{
    width: 100vw;
    height: 50px;
    

    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.432);
    
   
    background-color: rgb(255, 255, 255);  

    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar-content-buttons {
    width: 300px;
    height: 100%;

    
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-lista {
    padding: 0;
    margin: 0;

    list-style: none;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}
.navbar-lista a
{
    list-style: none;
    text-decoration: none;
    color: black;

    font-size: 1.6rem;
}
.button {
    padding: 0;
    margin: 0;
   
    width: 100px;
    height: 48px;

    border-bottom: 1px solid transparent ;

}

.button:hover {
    transition: 0.3s ease-in-out;
    border-bottom: 2px solid black ;
}
main
{
    padding: 0;
    margin: 0;

    width: 100vw;
    height: 600px;
}
.main-content
{
    width: 100%;
    height: 100%;
    padding-top: 5px;
    background-color: bisque;
    display: flex;
    justify-content: center;
}
.main-content-box
{
    width: 400px;
    height: 570px;

    background-color: rgba(255, 255, 255, 0.581);
    box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.432);
}
.main-content-box-loja
{
    width: 100;
    height: 400px;

    padding: 10px;
    
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.main-content-box-loja-imagem
{
    width: 100%;
    height: 300px;
}
.main-content-box-loja-imagem img
{
    width: 100%;
    height: 100%;
}
.main-content-box-loja-data
{
    width: 100;
    height: 300px;
    background-color: aqua;
}
.main-content-box-loja-title
{
        font-family: "Glass Antiqua", serif;
        font-weight: 700;
        font-style: normal;
        font-size: 1.6rem;
}
